{
  "env": {
    "browser": true
  },
  "parser": "babel-eslint",
  "plugins": ["react"],
  "extends": ["airbnb"],
  "rules": {
    "semi": ["error", "never"],
    "comma-dangle": ["off"],
    "react/prefer-stateless-function": ["off"]
  }
}
