{
  "env": {
    "browser": true
  },
  "parser": "babel-eslint",
  "plugins": ["react"],
  "extends": ["airbnb", "prettier"],
  "rules": {
    "semi": ["error", "never"],
    "arrow-parens": ["error", "as-needed"],
    "comma-dangle": ["off"],
    "react/prefer-stateless-function": ["off"],
    "import/prefer-default-export": ["off"],
    "react/destructuring-assignment": ["off"],
    "jsx-a11y/label-has-associated-control": ["off"],
    "jsx-a11y/label-has-for": ["off"]
  },
  "parserOptions": {
    "ecmaFeatures": {
      "legacyDecorators": true
    }
  }
}
