html, body
  font-family: 'Open Sans', sans-serif
  font-size: 12px
  line-height: 18px

.app
  &__content
    max-width: 818px
    margin: 0 auto

  &__error
    border: 1px solid red
    border-radius: 5px
    padding: 0 10px
