html, body
  font-family: 'Open Sans', sans-serif
  font-size: 12px
  line-height: 18px
  background-color: #F3F7FA
  color: #4a4a4a
  width: 100%

*
  box-sizing: border-box

.app
  &__content
    max-width: 858px
    padding: 0 20px
    margin: 0 auto

    @media(max-width: 380px)
      padding: 0 10px

  &__error
    border: 1px solid red
    border-radius: 5px
    padding: 10px
